@import '../../../node_modules/.pnpm/@payloadcms+ui@3.56.0_@types+react@19.1.8_monaco-editor@0.53.0_next@15.4.4_@babel+core@_559179f56b3bbf03f5773e0a7648e244/node_modules/@payloadcms/ui/dist/scss/styles';

.dashboard .before-dashboard {
  margin-bottom: base(1.5);

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: base(0.5);

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}
